africastalking==2.0.2
anyio==4.13.0
bcrypt==5.0.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
colorama==0.4.6
cryptography==48.0.0
ecdsa==0.19.2
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.13
passlib==1.7.4
pyasn1==0.6.3
pycparser==3.0
python-jose==3.5.0
PyYAML==6.0.3
requests==2.33.1
responses==0.26.0
rsa==4.9.1
schema==0.7.8
six==1.17.0
tabulate==0.10.0
urllib3==2.6.3
